DATABASE_URL=
RESEND_API_KEY=
MAIL_FROM=noreply@tatletale.com
MAIL_TO=
ALLOWED_ORIGINS=*
VENUE_LINK=https://www.google.com/maps/search/?api=1&query=40A%20Bank%20St%2C%20Sheffield%20City%20Centre%2C%20Sheffield%20S1%202DS
ADMIN_API_KEY=
