MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_SSL_PORT=465
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password
MAIL_DEFAULT_SENDER=your_email@gmail.com
MAIL_TO=your_admin_email@gmail.com
ALLOWED_ORIGINS=*
VENUE_LINK=https://maps.google.com/
